/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 9, 2015, 1:36:00 AM
    Author     : lvorhis
*/
#header div.section
{
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 7px;
}

#navigation div.section,
#breadcrumb,
#main,
#footer div.section {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
}
#content,
#sidebar-first {
  float: left;
}
#sidebar-first {
  width: 240px;
}
#content {
  width: 720px;
}
#sidebar-second {
  float: left;
  width: 240px;
}
#content {
  width: 480px;
}
body.one-sidebar #content {
  width: 720px;
}
body.two-sidebars #content {
  width: 480px;
}
body.no-sidebars #content {
  width: 960px;
}
#navigation #secondary-menu {
  float: right;
  margin: 0;
}
#navigation {
  padding: 10px 0;
}
#logo {
  float: left;
  margin-right: 10px;
}
#name-and-slogan h1#site-name,
#name-and-slogan div#site-name {
  font-size: 2em;
  margin: 20px 0;
}
body {
  margin: 0;
}
.block-inner {
  margin: 0 20px;
}
h1#page-title {
  margin: 20px;
}
#navigation {
  margin-bottom: 0px;
}
#breadcrumb {
  margin-bottom: 5px;
}
ul#main-menu li.first {
  padding-left: 0;
}
ul#secondary-menu li.last {
  padding-right: 0;
}
#footer {
  margin-top: 15px;
}
#footer div.section {
  margin-top: 10px;
  margin-bottom: 10px;
}
#footer #block-system-powered-by .block-inner {
  margin: 0;
}
.node .user-picture img {
  width: 20px;
  height: 20px;
}
.node .user-picture {
  float: left;
  margin-right: 10px;
}
.node .submitted {
  margin-bottom: 10px;
}
div.messages {
  margin: 20px;
}
#super-header div.section {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
}
#postscript {
  margin-top: 15px;
}
#postscript div.section {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
}
#postscript .block {
  float: left;
  width: 300px;
  margin-right: 20px;
}
#footer {
  margin-top: 0;
}

